/* 
RESOURCES

Donut bg images:
https://www.pexels.com/photo/close-up-photo-of-pink-donuts-1982485/
https://www.pexels.com/photo/doughnut-topped-with-colorful-sprinkles-in-tilt-shift-lens-3779945/
https://www.pexels.com/photo/pink-doughnut-with-colorful-sprinkles-intilt-shift-lens-3784440/

Donut image:
https://pixabay.com/vectors/donut-donuts-bread-confectionery-1139832/

Simple bg:
https://pixabay.com/illustrations/checks-gingham-checked-blue-white-937564/
https://www.pexels.com/photo/blue-headphone-1037992/
*/

:root {
  --font-base: "Poppins", sans-serif;
  --font-display: "Berkshire Swash", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 197, 192);
  background: linear-gradient(157deg, #fac5c0 0%, #fac5c0 50%, #c9eae6 50%, #c9eae6 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-base);
  color: #333;
}

h1 {
  font-family: var(--font-display);
  font-size: 3rem;
  color: #5a0707;
  text-shadow: 2px 2px #fff;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.button {
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 2px 0 #8e2929;
  transition: background 0.2s ease-in;
}

.button:hover {
  background: #fac5c0;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 1px 2px 0 transparent;
}

.button.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  min-height: calc(100vh - 3rem);
}

/* Circles */

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border: 4px dotted #fff;
  border-radius: 15px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 0 #8e2929;
  pointer-events: none;
}

.circle.active {
  background-image: url("img/donut.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
.overlay.visible {
  display: flex;
}

.modal {
  position: relative;
  max-width: 500px;
  padding: 2.5rem 2rem 2rem;
  background: #fff;
  border-radius: 15px;
}

.modal p:first-child {
  font-size: 1.5rem;
}

.overlay button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #fac5c0;
}

/* Footer */
footer {
  height: 3rem;
  text-align: center;
}
